<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página de cadastro</title>
</head>
<body>
    <h1>Página de cadastro</h1>
    <hr>
    <form method="POST">
        {{ form.csrf_token }}

        {{ form.nome.label }}
        {{ form.nome }}
        <br>
        {{ form.telefone.label }}
        {{ form.telefone }}
        <br>

        {{ form.dropdown.label }}
        {{ form.dropdown }}
        <br>

        {{ form.cpf.label }}
        {{ form.cpf }}
        <br>

        {{ form.email.label }}
        {{ form.email }}
        <input type="submit" value="atualizar">
    </form>
    <a href="/index">Voltar</a>
</body>
</html>